:root {
  --cor-vermelho: red;
  --cor-verde: green;
}

body, h1 {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  /* margin-bottom: 35px; */
}

.estilizacao-container {
  background-image: url("./img/mapaMario.png");
  background-size: contain;
}

.opacidade {
  background: rgba(255, 255, 255, 0.7);
}

header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.fa-question-circle:hover {
  color: #bebdbd;
  transition: 0.5s;
  cursor: pointer;
}

.columns:hover {
  cursor: pointer;
}

#container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.columns {
  display: flex;
  width: 65px;
  border: 1px solid black;
  height: 300px;
  flex-direction: column-reverse;
  background: rgba(90, 90, 90, 0.3);
}

.disco {
  width: 71%;
  height: 13%;
  border-radius: 100%;
  animation-duration: 0.7s;
  animation-name: slidein;
  margin-left: 10px;
}

.vermelho {
  background-image: url("./img/mario_super.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.verde {
  background-image: url("./img/bowser.png");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  padding: 20px 0px;
  margin-top: 35px;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }
  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

/*MODAL*/

/*background do modal*/

.modalCSS {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/*conteúdo do modal*/

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/*botão de fechar o modal*/

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: wheat;
}

/*esconder modal*/

.hidden {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 15px;
  background-color: grey;
  color: #fff;
  border: none;
  padding: 21px;
  cursor: pointer;
  box-shadow: 0 9px #999;
  outline: none;
}

button:hover {
  background-color: #626f7e;
}

button:active {
  background-color: #4b4d50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.avatar-picture {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 36vw;
  height: 12vh;
  border-radius: 100%;
}

.player1 {
  border: 3px double var(--cor-vermelho);
}

.player2 {
  border: 3px double var(--cor-verde);
}

.regras {
  margin-left: 10px;
}

/*estilo do scoreboard*/

.score__style {
  display: flex;
  border: 1px solid black;
  min-width: 250px;
  max-width: 300px;
  margin: 20px auto;
  justify-content: space-around;
  border-radius: 10px;
}

.score--style {
  padding: 20px;
  width: 40%;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    margin-left: 3px;
  }
  #container {
    width: 500px;
    height: 300px;
  }
  .disco {
    width: 50px;
    height: 50px;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    width: 50%;
    margin: 35px auto;
  }
  img {
    width: 67px;
    height: 50px;
    border-radius: 100%;
  }
  button {
    width: 16vw;
  }
}